
.recommended-friends{
    color:var(--main-gray);
    border-bottom: var(--main-border);
    border-top:var(--main-border);
    padding:20px 0px;
}
.recommended-friends__title{
    font-size:18px;
}
.recommended-friends span{
    padding: 100px 0px;
    display:block;
    text-align: center;
}

.open-chat__header{
    display:flex;
    justify-content: space-between;
    padding:15px 0px;
}

.open-chat__header{
    opacity: 0.8;
}

.open-chat span{
    opacity: 0.6;
}

.open-chat span i{
    padding: 0px 5px;
}

.open-post{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.open-post__column{
    margin-top:20px;
}

.open-post__title{
    font-size:20px;
    padding:10px 0px;
}

.open-post__hastags{
    font-size:17px;
    padding-bottom:10px;
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members{
    display:flex;
    align-items: center;
}

.open-post__members img{
    width:20px;
    height: 20px;
    border-radius: 35%;
    margin-right: 10px;

}

.open-post__members .divider{
    width:2px;
    height: 17px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 5px;

}

.open-post__member-status{
    color:#ffb0e0
}

.open-post__photo{
    position:relative;
}

.open-post__photo img{
    width:130px;
    height:130px;
    border-radius: 10px;
}

.open-post__heart-count{
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    border-radius: 30px;
    text-align:center;
    position:absolute;
    right: 5px;
    bottom:10px;
    font-size:15px;
    padding: 5px 10px;
    
}