.nav{
    position:fixed;
    bottom:0;
    width: 100%;
    padding:20px 50px;
    background-color: #F9F9FA;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.2);
}
.nav__ul{
    display:flex;
    justify-content: space-between;
    padding:20px 0px;
}

.nav__link{
    color:#2e363e;
    position: relative;
}

.nav__notification{
    background-color: tomato;
    position:absolute;
    bottom:17px;
    right:-10px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}

.nav__event-notification{
    background-color: red;
    width: 5px;
    height: 5px;
    display:block;
    position: absolute;
    border-radius: 50%;
    right: -8px;
    top:-8px;
    
}
