#no-mobile{
    position: absolute;
    z-index: 99;
    background-color: tomato;
    top:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
}

@media screen and (max-width:800px){
    #no-mobile{
        display:none;
        
    }    
}